name: CI / CD

on:
  push:
    branches: [ main ]

permissions:
  contents: read

jobs:
  build-and-test:
    name: Build & Test (.NET 10)
    runs-on: ubuntu-latest
    outputs:
      publish-dir: ${{ steps.publish.outputs.publish-dir }}
    steps:
      - name: Build
        run: |
          ls
          dotnet build --no-restore -c Release