name: .NET

# Триггеры: при пуше или пулл реквестов в main.
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  # Один job, который собирает и тестирует проект.
  build and test:

    # Среда выполнения — виртуальная машина Ubuntu.
    runs-on: ubuntu-latest

    steps:
    # Получаем код репозитория (обязательный первый шаг).
    - uses: actions/checkout@v4
    
    # Устанавливаем нужную версию .NET SDK 10.
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x
        
    # Восстанавливаем NuGet‑пакеты перед сборкой.    
    - name: Restore dependencies
      run: dotnet restore
    
    # Компиляция проекта.
    - name: Build
      run: dotnet build --no-restore
  
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    # Устанавливаем нужную версию .NET SDK 10.
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x
        
    # Восстанавливаем NuGet‑пакеты перед сборкой.    
    - name: Restore dependencies
      run: dotnet restore
      
    - name: Test
      run: dotnet test --verbosity normal  